.login-cont{

    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}
.form-cont{
    width: 40%;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(61, 57, 57);
    color: white;
}